body {
    --spacing: 1;
    display: flex;
    flex-direction: column;
}

.box {
    --p-primary-color: var(--primary-color, red);

    display: flex;
    flex-direction: column;
    height: 200px;
    border: 2px solid color-mix(in srgb, var(--p-primary-color)  50%, black);
    margin: min(calc(var(--spacing) * 8px), 20px);
}

.box:nth-child(2) {
    --primary-color: purple;
}

.header {
    font-size: 2em;
    background-color: color-mix(in srgb, var(--p-primary-color)  50%, white);
    color: color-mix(in srgb, var(--p-primary-color)  50%, black);
    padding: calc(var(--spacing) * 4px);
    text-align: center;
}

.content {
    flex-grow: 1;
    background-color: color-mix(in srgb, var(--p-primary-color) 30%, white);
    color: color-mix(in srgb, var(--p-primary-color)  30%, black);
    padding: calc(var(--spacing) * 6px);
}